/*--------------------------------------------------------------
## BASE
--------------------------------------------------------------*/

body {
	font-family: "Open Sans";
	font-size: 18px;
	color: #575757;
}

a {
	color: #9dc93a;
}

a:focus, a:hover {
    color: #9dc93a;
    text-decoration: none;
}

a:visited {
	color: unset;
}

button.readmore, button.primary-btn, input[type="button"], input[type="submit"] {
	background-color: #9dc93a;
	color: #fff;
	padding: 10px 30px;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}

button.readmore:hover, button.primary-btn:hover, input[type="button"]:hover, input[type="submit"]:hover {
	background-color: #575757;
}

.mt-30 {
	margin: 30px 0;
}

.pd-30 {
	padding: 30px 0;
}

.text-white {
	color:#ffffff;
}

.text-green, .text-grey:hover {
	color:#9dc93a;
}

.text-grey {
	color:#575757;
}

a .text-green:hover, .text-green a:hover {
	color:#ffffff;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.center-vertical{
	align-items: center;
}

.center-horizontal{
	justify-content: center;
}


.no-margin-top{
  margin-top: 0;
}

.breadcrumb{
	margin-left: 0;
	margin-top: 10px;
}
.breadcrumb li a{
	color: #00ab38;
}
.breadcrumb>li+li:before{
  content: ">>"!important;
  color: #333!important;
}
.breadcrumb li, .breadcrumb li a{
	font-size: 14px;
}

.pagination li a, .pagination li span{
  margin-right: 5px;
  font-size: 13px;
  padding: 10px 15px;
  color: #727272;
  cursor: pointer;
  transition: all .15s;
}

.pagination li a:hover, .pagination li span:hover, .pagination .current{
  background: #009933;
  color: #fff;
}

.on-right {
	justify-content: flex-end;
}

#phone{
	font-size: 14px;
	color: #009933;
	margin: 10px auto 10px;
	display: block;
	text-decoration: none;
}

.sub-banner{
  animation: fadeInUp .65s;
}

article p{
  font-size: 18px;
}

.on-left {
	justify-content: flex-start;
}

.primary-btn, input[type="submit"].primary-btn {
	padding: 7px 15px;
	background-color: #009933;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
	transition: background .2s;
}

.mailpoet_submit{
	padding: 7px 15px!important;
	background-color: #009933!important;
	color: #fff!important;
	font-weight: 500!important;
	font-size: 14px!important;
	text-align: center!important;
	border-radius: 3px!important;
	transition: background .2s!important;
	border-color: #009933!important;
}

.layer{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.3);
}

.icon-bar {
	border: 1px solid #009933;
	display: block;
	margin-bottom: 7px;
}

.toggle-menu{
	transform: translateX(0)!important;
	opacity: 1!important;
}

input[type="submit"].btn-normal,
button.btn-normal,
a.btn-normal{
  padding: 7px 15px!important;
  width: auto!important;
}

.alert{
  font-size: 14px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.line {
	border-bottom: solid 1px #c2c2c2;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.top-header {
	
}

.top-bar {
	height: 40px;
}

.social {
	margin-left: 30px;
}

.social ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.social ul li:last-child {
	margin-right: 0;
}

.social ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.social ul li a {
    font-size: 24px;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .2s;
}

.social ul li a:hover {
	color: #575757;
}

.site-branding {
	height: 114px;
}

.header-logo {
	max-width: 210px;

}

.phone-text {
  text-align: right;
  padding-top: 15px;
}

.phone-text span {
  display: block;
  font-size: 20px
}

.phone-text a span:hover {
	color: #9dc93a !important;
	text-decoration: unset !important; 
}

/*--------------------------------------------------------------
## MENU
--------------------------------------------------------------*/

.main-menu {
	display: block;
	float: left;
}

.sf-menu {
	float: none !important;
	margin-bottom: 0 !important;
}

.sf-menu li {
	background-color: #fff !important;
}

.sf-menu li a {
	color: #575757;
	text-transform: uppercase;
	padding: 0;
}

.sf-menu li a:hover, .sf-menu li.sfHover a, .sf-menu li.current-menu-item a {
	color: #9dc93a;
}

#top-menu.sf-menu li {
	margin-right: 30px;
}

#top-menu.sf-menu li a {
	font-size: 12px;
}

#primary-menu.sf-menu li {
	margin-right: 30px;
	padding-top: 45px;
}

#primary-menu.sf-menu li a {
	font-size: 14px;
}

/*--------------------------------------------------------------
## SLIDER
--------------------------------------------------------------*/

.banner-home {
	padding: 30px 10px;
}

.item-slider-home {
	background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 500px;}

.banner-img {
	background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 370px;}

.tagline {
	text-align: center;
	padding: 10px;
	background-color: #676a6b;
	border-radius: 5px;
	margin-top: 20px;
}

.tagline h2 {
	font-size: 22px;
	color: #fff;
	margin: 0;
	font-weight: bold;
}

/*--------------------------------------------------------------
## HOMEPAGE
--------------------------------------------------------------*/

.home h1 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 0;
	text-transform: uppercase;
}

.content-box h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.content-box {
	padding-top: 30px;
	padding-bottom: 30px;
}

.info-box {
  padding: 30px 0 50px 0;
}

.info-box h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: Uppercase;
}

.bg-grey {
	background-color: #676a6b;
}

.bg-pastel {
	background-color: #edecec;
}

span.img-call {
	margin-top: -40px;
	margin-bottom: -30px;
}

ul.waste-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

ul.taglines {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	padding: 0 20px;
}

ul.taglines li {
	margin-right: 10px;
	font-size: 24px;
	font-weight: 800;
	display: inline;
}

/*--------------------------------------------------------------
## PAGE
--------------------------------------------------------------*/

.banner-page {
	position: relative;
}

.banner-text {
  position: absolute;
  top: 45%;
  width: 100%;
  z-index: 3;

}

h1.entry-title {
  position: relative;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

h2.sub-title {
  position: relative;
  color: #9dc93a;
  font-size: 30px;
  margin-top: 0;
}

.layer {
	z-index: 2;
	width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.3);
}

.entry-content {
	margin: 40px 0;
}

.button-box {
    top: 305px;
    right: -225px;
    text-align: right;
    -webkit-transition: all 1s cubic-bezier(0,1,.5,1);
    transition: all 1s ;
    position: fixed;
    z-index: 5;
}
.button-box.started{ 
	top: 225px; 
	right: -120px; 
}
.button-box:hover{ 
	right: 0; 
}
.button-box .button-shadow {
    border: 11px solid rgba(0,0,0,0.3);
    border-radius: 50px 0 0 50px;
    border-right: 0;
    display: inline-block;
    position: relative;
}
.button-box a {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    border-radius: 50px 0 0 50px;
    margin: -1px 0 -1px -1px;
}
.button-green, a.button-green {
    background: #9dc93a;
    color: #fff;
}

.breadcrumb {
	background-color: #ffffff;
	margin-bottom: 0;
}

.breadcrumb a {
	color: #9dc93a;
}

.breadcrumb a:hover {
	color: #575757;
}

.blog-img {
	background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 290px;
}

.wrap-blog-content {
	padding: 30px 0;
	border-bottom: solid 1px #c2c2c2;
}

.wrap-blog-content h2 {
	font-size: 30px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.wrap-blog-content span {
	font-size: 12px;
}
/*--------------------------------------------------------------
## FOOTER
--------------------------------------------------------------*/


footer .social {
	margin-left: 0;
	margin-top: 30px;
}

footer .social a {
	color: #9dc93a;
}

footer ul {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}

footer ul li {
	margin-bottom: 20px;
}

footer ul li a {
	color: #575757;
}

footer .social ul li {
	margin-right: 50px;
}

footer .social ul li:last-child {
	margin-right: 0;
}

footer h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 25px;
	text-transform: uppercase;
}

footer .contact-us li  {
	margin-left: 40px;
	margin-bottom: 40px;
}

footer .contact-us li span {
	font-size: 18px; 
	position: absolute; 
	left: 15px; 
	padding-top: 5px;
}

.site-footer {
	margin-top: 20px;
}

.copyright {
	padding: 40px 10px;
	color: #005343;
}